/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-green-60: #00ff83;
  --grey-background: #ffffff14;
  --opacity-white-80: #fff9;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* Default text color for dark mode */
html.dark,
html.dark body {
  color: white;
}

/* Ensure router-outlet content fills available height */
router-outlet + * {
  height: 100%;
  display: block;
}

@layer utilities {
  [drawer-backdrop] {
    background-color: rgba(0, 0, 0, 0.7) !important; /* deeper dim */
  }
  .text-green-60 {
    color: var(--color-green-60);
  }
  .bg-grey-10 {
    background-color: var(--grey-background);
  }
  .text-secondary {
    color: var(--opacity-white-80);
  }
  .highlighted {
    color: #1d4ed8;
  }
}
